body {
    background-color: darkgrey;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
.bar {
  fill: #1f77b4;
}

.bar:hover {
  fill: white;
}

.axis--x path {
  display: none;
}
